:root {
    --panel-bg: rgba(180, 180, 180, 0.4); 
    --see-through: rgba(180, 180, 180, 0)
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-VariableFont_wght.ttf');
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

/* Search box */

#form--container {
    height: 4rem; 
    display: flex; 
    align-items: center;
    justify-content: end;
    padding-right: 4rem; 
    margin-top: 2rem; 
    margin-bottom: 2rem; 
}

#form {
    display: flex; 
    align-items: center;
    height: 3rem; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    background-color: var(--panel-bg); 
    border-radius: 16px;
}

#form--search {
    height: 2rem; 
    border: 0pt solid var(--panel-bg);
    background-color: var(--see-through); 
    color: white; 
}

/* Weather Display */

#container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px; 
    margin-top: 8rem;
}

#weather--container, #errorContainer, #uvAdvice--container {
    width: 30rem; 
    background-color: var(--panel-bg); 
    padding: 1rem;
    border-radius: 16px;
}

/* Place container */

#place--container {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 20px; 
}

#place--nameText {
    font-size: 1.5;
}

#place--descText {
    font-size: 2rem;
}

/* Temp / Info container */

#temp-info--container {
    display: flex; 
    justify-content: space-between;
}

#temperature--container {
    display: flex; 
    justify-content: space-between;
    width: 50%; 
}

#temperature--text {
    font-size: 9rem;
}

#info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
}

/* UV Advice container */

#uvAdvice--container {
    display: flex; 
    flex-direction: column;
    gap: 10px; 
}

#info--uvAdvice1 {
    text-align: center;
    font-size: 1.1rem;
}

#info--uvAdvice2 {
    text-align: justify;
    font-size: 0.8rem;
}

/* Error message display */

#errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh; 
    gap: 20px; 
}

#errorIcon {
    filter: invert(1);
    height: 10vh; 
}

/* Screen adjustment */

@media only screen and (max-width: 1400px) {
    body {
        background-repeat: repeat;
        background-size: auto 100vh;
    }    
}; 