:root {
    --primary-dark: #333;
    --secondary-dark: #444;
    --primary-light: #eee;
    --secondary-light: #ddd;
    --selected: rgb(192, 192, 192); 
    --panel-bg: #dddddd50; 
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-VariableFont_wght.ttf');
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
}

body {
    background-repeat: no-repeat;
    background-size: 100% auto;
}

/* Search box */

#form--container {
    height: 4rem; 
    display: flex; 
    align-items: center;
    justify-content: end;
    padding-right: 4rem; 
    margin-top: 2rem; 
    margin-bottom: 2rem; 
}

#form {
    display: flex; 
    align-items: center;
    height: 3rem; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    background-color: var(--panel-bg); 
    border-radius: 16px;
}

#form--search {
    height: 2rem; 
    border: 0pt solid black;
    background-color: #9d9d9d00;
    color: white; 
}

/* Weather Display */

