:root {
    --primary-dark: #333;
    --secondary-dark: #444;
    --primary-light: #eee;
    --secondary-light: #ddd;
    --selected: rgb(192, 192, 192); 
}

@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/Raleway-VariableFont_wght.ttf');
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
}

